@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

:root {
  /********* Colors *********/

  /* Main Colors */

  --cream: #e3ded4;
  --gray: #857e77;
  --coffee: #271f19;

  /* Shades */
  --cream-shade-one: #ccc6bd;
  --cream-shade-two: #b4aea5;
  --cream-shade-three: #9d968e;
  --gray-shade-one: #6e675f;
  --gray-shade-two: #564f48;
  --gray-shade-three: #3f3730;

  /* Accent Colors */
  --gold: #d3b162;
  --teal: #8db2b4;
  --pine: #566d68;

  /********* Fonts *********/
  --heading: "Montserrat", sans-serif;
  --paragraph: "Montserrat", sans-serif;

  /********* Nav Height *********/

  --navHeight: 15rem;
}

/********* Base Resets *********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /* --vh: 1vh; */
}

input {
  border: none;
}

button {
  border: none;
}

/********* HTML elements *********/

body,
html {
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
  /* height: 100vh; */
  scroll-padding-top: var(--navHeight);
}

@media (prefers-reduced-motion) {
  body {
    scroll-behavior: inital;
  }
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

section {
  position: relative;
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  width: 100%;
  /* padding: 80px 0% 2% 0%; */
  overflow: hidden;
}

/********* Newsletter Dropdown *********/

.newsletter-dropdown {
  position: fixed;
  background-color: var(--gold);
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 99;
}

/* .open {
  display: none;
} */

.dropdown-newsletter {
  font-family: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #272522;
}

.dropdown-text-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .dropdown-text-desktop {
    display: block;
  }

  .dropdown-text-mobile {
    display: none;
  }
}

/********* Navigation *********/

nav li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 88px;
  background-color: #3f3730;
  width: 100vw;
  position: fixed;
  margin-top: 3rem;
  z-index: 99;
}

nav a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.icons {
  display: flex;
  gap: 4rem;
  cursor: pointer;
}

.search-icon {
  display: block;
}

.logo-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bar {
  display: block;
  width: 34.67px;
  height: 3px;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e3ded4;
  border-radius: 2px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.nav-link {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  color: #b4aea5;
}

.nav-logo-text {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #d3b162;
}

.nav-logo {
  height: 70px;
}

.nav-item:first-child {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .nav-menu {
    margin-left: 12rem;
  }
}

@media only screen and (max-width: 920px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 112px;
    flex-direction: column;
    background-color: #3f3730;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    z-index: 2;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .navbar {
    height: 64px;
  }

  .nav-item:first-child {
    display: block;
  }

  .search-icon {
    display: none;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-logo-text {
    font-size: 24px;
  }

  .nav-logo {
    height: 48px;
  }
}

@media only screen and (max-width: 1040px) {
  .icons {
    gap: 1.4rem;
  }
  .nav-menu {
    margin-left: 0rem;
  }
}

.hero-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.hero-text h1 {
  font-family: var(--heading);
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.hero-header {
  background-color: white;
  background-image: linear-gradient(100deg, #d3b162, #fbd888, #d3b162);
  background-size: 100%;
  /* -webkit-background-clip: text;
  -moz-background-clip: text; */
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.45);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

@media screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 100px;
  }
}

.hero-h2-mobile {
  font-family: var(--paragraph);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.hero-h2-desktop {
  display: none;
  /* color: white;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-family: var(--paragraph);
  font-weight: 800; */
}

@media only screen and (min-width: 768px) {
  .hero-h2-desktop {
    display: block;
    color: var(--coffee);
    font-size: 36px;
    letter-spacing: 0.05em;
    font-family: var(--paragraph);
    font-weight: 800;
  }

  .hero-h2-mobile {
    display: none;
  }
}

.hero-p-mobile {
  font-family: var(--paragraph);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--coffee);
  width: 80vw;
  text-align: justify;
}

.hero-p-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero-p-desktop {
    display: block;
    font-family: var(--paragraph);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var(--coffee);
    width: 80vw;
    text-align: justify;
  }

  .hero-p-mobile {
    display: none;
  }
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/********* Animation Section *********/

.animation {
  background-color: #3f3730;
}

.animation-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

.animation video {
  /* display: block; */
  /* height: auto; */
  /* margin: auto;
  position: relative; */
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.animation-header-wrapper {
  position: absolute;
  top: 3%;
  left: 5%;
}

.animation-header {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  color: var(--cream);
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 768px) {
  .animation-header {
    font-size: 36px;
  }
}

.animation-text {
  background-color: white;
  background: linear-gradient(180deg, #3f3730 0%, #272522 100%);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-text p {
  margin-left: 10%;
  margin-right: 10%;
  font-family: var(--paragraph);
  color: var(--cream);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4rem;
  max-width: 866px;
  letter-spacing: 0.05em;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .animation-text p {
    font-size: 24px;
    line-height: 2rem;
  }
}

/********* Car Modification Section *********/

.car-modifications {
  background-color: #4d453e;
}

.car-modifications h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: var(--heading);
  font-size: 50px;
  letter-spacing: 0.05em;
  font-weight: 800;
  color: var(--cream);
}

.mod-img-wrapper img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .mod-img-wrapper img {
    height: 100vh;
  }
}

.mod-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4d453e;
  height: calc(40vh - 16px);
  margin-top: 16px;
}

/* .mod-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #4d453e;
  filter: blur(5px);
  opacity: 0.5;
} */

.mod-wrapper p {
  font-family: var(--paragraph);
  font-size: 28px;
  letter-spacing: 0.05em;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-bottom: 12px;
}

/* @media screen and (min-width: 768px) {
  .mod-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
} */

.mod-btn {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.mod-btn button {
  height: 19px;
  width: 19px;
  border-radius: 50%;
}

.mod-btn button:hover {
  transform: scale(130%);
  border: 2px solid var(--cream);
}

.btn-yellow {
  background-color: var(--gold);
}

.btn-teal {
  background-color: var(--teal);
}

.btn-pine {
  background-color: var(--pine);
}

.btn-cream {
  background-color: var(--cream);
}

.btn-coffee {
  background-color: var(--coffee);
}

.mod-body-wrapper {
  height: 33%;
}

.mod-interior-wrapper {
  height: 33%;
}

.mod-rims-wrapper {
  height: 33%;
}

@media screen and (min-width: 768px) {
  .mod-wrapper {
    position: absolute;
    z-index: 3;
    height: 128px;
    width: 100%;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  /* .mod-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
  } */

  .mod-wrapper p {
    text-align: left;
  }

  .mod-body-wrapper {
    height: 75%;
    margin: 0 0 0 42px;
  }

  .mod-interior-wrapper {
    height: 75%;
    /* margin: 0 20px 0 20px; */
  }

  .mod-rims-wrapper {
    height: 75%;
    /* margin: 0 20px 0 20px; */
  }

  .mod-btn button {
    height: 24px;
    width: 24px;
    margin-right: 15px;
  }

  .mod-btn {
    width: 33vw;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1050px) {
  .mod-btn button {
    margin-right: 30px;
  }

  .mod-body-wrapper {
    /* height: 75%; */
    margin: 0 0 0 62px;
  }
}

/********* USP Section *********/

.usp {
  background-color: #3f3730;
}

.usp-img-1 {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  opacity: 0.6;
}

.usp-container {
  position: absolute;
  top: 310%;
  left: 3%;
}

/** Slider **/

.slider {
  text-align: center;
  overflow: hidden;
  height: 70%;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 90%;
  height: 60%;
  background-color: #000;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.gallery-subheading {
  font-size: 16px;
}

.gallery-text {
  position: absolute;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

@media only screen and (min-width: 768px) {
  .slides > div {
    width: 33.333333333%;
  }
  .slider a {
    display: none;
  }
}

/* Newsletter */

.newsletter {
  height: 30%;
  background: linear-gradient(180deg, #3f3730 0%, #272522 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-max-width {
  min-width: 80%;
  max-width: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  color: var(--gold);
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 0.05em;
}

.newsletter p {
  font-family: var(--paragraph);
  font-size: 16px;
  font-weight: 500;
  color: var(--cream);
  line-height: 0.05em;
  padding-top: 10px;
  padding-bottom: 30px;
  letter-spacing: 0.05em;
}

.newsletter-input {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  max-width: 548px;
  border-radius: 0;
}

.newsletter-email {
  width: 70%;
  height: 40px;
}

.newsletter-btn {
  width: 30%;
  height: 40px;
  font-family: var(--paragraph);
  font-weight: 500;
  letter-spacing: 0.05em;
  background: linear-gradient(
    142.63deg,
    #d3b162 12.32%,
    #fbd888 57.16%,
    #d3b162 103.43%
  );
  border-radius: 0;
  font-size: 16px;
  color: black;
}

/********* Store Section *********/

.store {
  background: linear-gradient(180deg, #3f3730 0%, #272522 100%);
}

.store-header {
  width: 100%;
  margin-left: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.store-header h2 {
  font-family: var(--heading);
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.05em;
  background-color: white;
  background-image: linear-gradient(100deg, #d3b162, #fbd888, #d3b162);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* margin: 80px 0px 10px 0px; */
}

/** Slide store **/

.store-slider {
  text-align: center;
  overflow: hidden;
}

.store-slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0px 32px 0px 32px;
  margin-left: 36px;
}

.store-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.8em;
}

.store-buttons button {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgb(46, 44, 44);
}

.store-buttons button:hover {
  transform: scale(130%);
  border: 2px solid var(--cream);
}

.store-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.store-title {
  font-size: 16px;
  color: var(--cream);
}

.store-buy-container {
  width: 100%;
  height: 66px;
}

.store-buy {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    142.63deg,
    #d3b162 12.32%,
    #fbd888 57.16%,
    #d3b162 103.43%
  );
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--coffee);
  font-family: var(--paragraph);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#store-slide-1 {
  flex-direction: column;
  padding: 0px 6px 0px 0px;
  gap: 0.5rem;
  /* height: 100%; */
}

#store-slide-2 {
  flex-direction: column;
  padding: 0px 6px 0px 6px;
  gap: 0.5rem;
  /* height: 100%; */
}

#store-slide-3 {
  flex-direction: column;
  padding: 0px 0px 0px 6px;
  gap: 0.5rem;
  /* height: 100%; */
}

.store-slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  transform-origin: center center;
  transform: scale(1, 1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.store-gallery-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gallery-subheading {
  font-size: 16px;
}

@media only screen and (min-width: 650px) {
  .store-slides > div {
    width: 33.33333%;
  }
  .store-slider a {
    display: none;
  }
  .store-header h2 {
    font-size: 100px;
  }
  .store-slides {
    overflow-x: hidden;
    margin-left: 0px;
  }
}

/** End of store **/

/* .store-ending-mobile {
  width: 100%;
  height: 30vh;
  text-align: center;
  color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .store-ending-desktop {
  display: none;
  width: 100%;
  height: 20vh;
  text-align: center;
  color: var(--coffee);
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  position: absolute;
  bottom: 0;
} */

/* .store-ending-mobile p {
  font-family: var(--paragraph);
}

.store-ending-heading {
  font-size: 50px;
}

.store-ending-mobile h2 {
  font-family: var(--heading);
} */

/* .desktop-store-ending-text {
  display: none;
  font-family: var(--paragraph);
  font-weight: 500;
}

@media only screen and (min-width: 650px) {
  .desktop-store-ending-text {
    display: block;
  }
  .store-ending-mobile {
    display: none;
  }
  .store-ending-desktop {
    display: flex;
  }
} */

/********* Footer Section *********/

.footer {
  /* background-color: var(--cream-shade-two); */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  display: flex;
  /* align-items: flex-end; */
  position: relative;
  justify-content: center;
}

.footer-images {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

.footer-image {
  object-fit: cover;
  width: 100%;
  position: absolute;
  align-self: flex-start;
  z-index: -1;
  height: 30%;
}

.footer-overlay {
  object-fit: cover;
  width: 100%;
  position: absolute;
  align-self: flex-end;
  height: 100%;
}

.footer-wrapper {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--cream);
  font-family: var(--paragraph);
  font-size: 16px;
  /* margin: 1.5rem; */
  row-gap: 1.5em;
  bottom: 9%;
}

.footer-wrapper a {
  text-decoration: none;
  color: var(--cream);
}

.footer-links {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
}

.footer-help {
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem;
  letter-spacing: 0.05em;
}

.footer-help img {
  width: 40px;
  height: 40px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3.5rem;
  row-gap: 0.5rem;
  grid-gap: 0.5rem;
  padding-top: 0.5rem;
}

.footer-links h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.footer-help h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.footer-contact h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

/* .company-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 5%;
  margin: 0 auto;
} */

.footer-company {
  font-family: var(--paragraph);
  font-size: 12px;
  color: var(--cream-shade-three);
  letter-spacing: 0.05em;
  position: absolute;
  z-index: 1;
  bottom: 5%;
}

@media screen and (min-width: 650px) {
  .footer-social {
    padding-left: 12.5rem;
  }

  .footer-help {
    padding-left: 13.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    /* position: absolute;
    z-index: 1; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-social {
    /* padding-left: 0rem; */
    display: flex;
    flex-direction: row;
    /* position: absolute;
    left: 32%;
    bottom: 30%; */
  }

  .footer-contact {
    /* position: absolute;
    z-index: 1;
    display: flex; */
    /* left: 5%; */
    /* bottom: 3%; */
  }

  .footer-help {
    padding-left: 0rem;
  }
}
