@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

:root {
  /********* Colors *********/

  /* Main Colors */

  --cream: #e3ded4;
  --gray: #857e77;
  --coffee: #271f19;

  /* Shades */
  --cream-shade-one: #ccc6bd;
  --cream-shade-two: #b4aea5;
  --cream-shade-three: #9d968e;
  --gray-shade-one: #6e675f;
  --gray-shade-two: #564f48;
  --gray-shade-three: #3f3730;

  /* Accent Colors */
  --gold: #d3b162;
  --teal: #8db2b4;
  --pine: #566d68;

  /********* Fonts *********/
  --heading: "Montserrat", sans-serif;
  --paragraph: "Montserrat", sans-serif;
}

/********* Base Resets *********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  --vh: 1vh;
}

input {
  border: none;
}

/********* HTML elements *********/

body {
  scroll-behavior: smooth;
}

section {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  /* padding: 80px 0% 2% 0%; */
  overflow: hidden;
}

/********* Newsletter Dropdown *********/

.newsletter-dropdown {
  position: fixed;
  background-color: var(--gold);
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1;
}

/* .open {
  display: none;
} */

.newsletter-dropdown a {
  font-family: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #272522;
}

/********* Navigation *********/

nav li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 128px;
  background-color: #3f3730;
  width: 100vw;
  position: fixed;
  margin-top: 3rem;
  z-index: 2;
}

nav a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.icons {
  display: flex;
  gap: 4rem;
  cursor: pointer;
}

.search-icon {
  display: block;
}

.logo-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bar {
  display: block;
  width: 34.67px;
  height: 3px;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e3ded4;
  border-radius: 2px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  margin-left: 12rem;
}

.nav-link {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  color: #b4aea5;
}

.nav-logo-text {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #d3b162;
}

.nav-logo {
  height: 100px;
}

.nav-item:first-child {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 112px;
    flex-direction: column;
    background-color: #3f3730;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    z-index: 2;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .navbar {
    height: 64px;
  }

  .nav-item:first-child {
    display: block;
  }

  .search-icon {
    display: none;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-logo-text {
    font-size: 24px;
  }

  .nav-logo {
    height: 48px;
  }

  .icons {
    gap: 1.4rem;
  }
}

@media only screen and (min-width: 425px) {
  .navbar {
    padding: 1rem 4.5rem;
  }
}

@media only screen and (max-width: 1040px) {
  .icons {
    gap: 1.4rem;
  }
  .nav-menu {
    margin-left: 0rem;
  }
}

.hero-text {
  position: absolute;
  bottom: 45%;
  left: 3%;
}

.hero-text h1 {
  font-family: var(--heading);
  font-size: 50px;
  font-weight: 800;
}

.hero-header {
  background-color: white;
  background-image: linear-gradient(100deg, #d3b162, #fbd888, #d3b162);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-text h2 {
  font-family: var(--paragraph);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.hero-text p {
  font-family: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/********* Animation Section *********/

.animation {
  background-color: #3f3730;
}

.animation-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

.animation video {
  /* display: block; */
  /* height: auto; */
  /* margin: auto;
  position: relative; */
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.animation-header-wrapper {
  position: absolute;
  top: 3%;
  left: 3%;
}

.animation-header {
  font-family: var(--heading);
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.animation-text {
  background-color: white;
  background: linear-gradient(180deg, #3f3730 0%, #272522 100%);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-text p {
  margin-left: 5%;
  margin-right: 5%;
  font-family: var(--paragraph);
  color: var(--cream);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  max-width: 866px;
  letter-spacing: 0.05em;
}

/********* Car Modification Section *********/

.car-modifications {
  background-color: var(--pine);
}

/********* USP Section *********/

.usp {
  background-color: #3f3730;
}

.usp-img-1 {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  opacity: 0.6;
}

.usp-container {
  position: absolute;
  top: 310%;
  left: 3%;
}

/* Newsletter */

.newsletter {
  height: 30%;
  background: linear-gradient(180deg, #3f3730 0%, #272522 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-max-width {
  min-width: 80%;
  max-width: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  color: var(--gold);
  width: 60%;
  text-align: center;
  padding-bottom: 10px;
}

.newsletter p {
  font-family: var(--paragraph);
  font-size: 16px;
  font-weight: 500;
  color: var(--cream);
  line-height: 0.05em;
  padding-top: 10px;
  padding-bottom: 30px;
}

.newsletter-input {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 548px;
}

.newsletter-email {
  width: 70%;
  height: 40px;
}

.newsletter-btn {
  width: 25%;
  height: 40px;
  font-family: var(--paragraph);
  font-weight: 500;
  letter-spacing: 0.05em;
  background: linear-gradient(
    142.63deg,
    #d3b162 12.32%,
    #fbd888 57.16%,
    #d3b162 103.43%
  );
}

/********* Store Section *********/

.store {
  background: linear-gradient(180deg, #3f3730 0%, #272522 100%);
}

.store-header {
  position: absolute;
  top: 3%;
  left: 3%;
}

.store-header h2 {
  font-style: var(--heading);
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.05em;
  background-color: white;
  background-image: linear-gradient(100deg, #d3b162, #fbd888, #d3b162);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/** Slider **/

.slider {
  text-align: center;
  overflow: hidden;
  height: 70%;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 90%;
  height: 60vh;
  background-color: #000;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.gallery-subheading {
  font-size: 16px;
}

.gallery-text {
  position: absolute;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

@media only screen and (min-width: 768px) {
  .slides > div {
    width: 33.333333333%;
  }
  .slider a {
    display: none;
  }
}

/********* Footer Section *********/

.footer {
  /* background-color: var(--cream-shade-two); */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  display: flex;
  /* align-items: flex-end; */
  position: relative;
  justify-content: center;
}

.footer-images {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

.footer-image {
  object-fit: cover;
  width: 100%;
  position: absolute;
  align-self: flex-start;
  z-index: -1;
  height: 30%;
}

.footer-overlay {
  object-fit: cover;
  width: 100%;
  position: absolute;
  align-self: flex-end;
  height: 100%;
}

.footer-wrapper {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--cream);
  font-family: var(--paragraph);
  font-size: 16px;
  margin: 1.5rem;
  row-gap: 1.5em;
  bottom: 9%;
}

.footer-wrapper a {
  text-decoration: none;
  color: var(--cream);
}

.footer-links {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
}

.footer-help {
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem;
  letter-spacing: 0.05em;
}

.footer-help img {
  width: 40px;
  height: 40px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3.5rem;
  row-gap: 0.5rem;
  grid-gap: 0.5rem;
  padding-top: 0.5rem;
}

.footer-links h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.footer-help h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.footer-contact h3 {
  font-family: var(--heading);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

/* .company-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 5%;
  margin: 0 auto;
} */

.footer-company {
  font-family: var(--paragraph);
  font-size: 12px;
  color: var(--cream-shade-three);
  letter-spacing: 0.05em;
  position: absolute;
  z-index: 1;
  bottom: 5%;
}
